  <header>
    <nav>
      <ul>
        <li><a href="/">Introduction</a></li>
        <li><a href="/concepts">Concepts</a></li>
<!-- I put this in here thinking about the idea of how we would use contracts and the like,
     but I'm less convinced now
        <li><a href="/patterns">Patterns</a></li>
-->
        <li><a href="/api">API</a></li>
        <li><a href="/packaging">Packaging</a></li>
        <li><a href="/contracts">Contracts</a></li>
        <li><a href="/glossary">Glossary</a></li>
      </ul>
    </nav>

    <h1>{{ page.title }}</h1>

  </header>
